@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root {
  --shadow-size: 0px 16px 2px -4px;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --secondary: #D1B019;
  
}
  body {
    font-family: 'Josefin Sans', sans-serif;
  }
  html{
    @apply scroll-smooth;
  }
  h1{
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-xl font-bold;
  }
  h3{
    @apply text-[14px] font-semibold uppercase;
  }
  p {
    @apply text-xs font-light leading-5;
  }
  input{
    @apply px-4 py-1 border border-gray-100 rounded-md shadow-lg outline-none;
  }
  textarea{
    @apply px-4 py-1 my-4 border border-gray-100 rounded-md shadow-lg outline-none;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-16;
  }
  .box {
    box-shadow: var(--shadow-size) var(--shadow-color);
  }

}



